{% extends 'base.html.twig' %}

{% block title %}New Pet{% endblock %}

{% block body %}
    <div class="w-3xl bg-white px-6 py-8 shadow-sm rounded-lg">
        <h1 class="mb-4 font-bold text-3xl text-blue-900">Tell us about your pet</h1>
        {{ include('pet/_form.html.twig') }}
    </div>
{% endblock %}
