
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Logs and cache
*.log

# Node / Frontend
/node_modules/
/yarn-error.log
/pnpm-lock.yaml
/package-lock.json

# Docker
/.dockerignore
/.idea/
/.vscode/

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
